<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/driver.css">
</head>
<body>
    <div class="main-wrapper">
        {{{ contents }}}
    </div>

</body>
</html>