<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="dependencies/bootstrap.min.css">
    <link rel="stylesheet" href="css/driver.css">
</head>
<body>
	{{> navbar }}
    <div class="main-wrapper">
        <div class="container text-center">
            {{{ contents }}}
        </div>
    </div>
    <script src="dependencies/jquery.min.js"></script>
    <script src="dependencies/bootstrap.min.js"></script>
    <script src="scripts/scripts.js"></script>
</body>
</html>